/* ------- global ------- */
html {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

body{
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

h1{
  font-family: $font-heading;
}

h2, h3, h4{
  font-family: "Roboto", serif;
}

/* ----------- general ----------- */
.hint-icon{
  border-radius: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
  background-color: #C1D2D9;
  width: 16px;
  height: 16px;
  color: #fff;
}

.score-number, .circle-number{
  display: inline-block;
  color: #fff;
  font-weight: $text-bold;
  text-align: center;
  vertical-align: middle;
}

.btn{
  background-image: linear-gradient(0deg, #EAEEF3 0%, #FFFFFF 63%);
  border: 1px solid #C1D2D9;
  border-radius: 3px 0px 0px 3px;
  padding: 10px 15px;
  color: $button-color;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  [class*="icon-"]{
    font-size: 1.2em;
    vertical-align: middle;
  }
}
.btn-full{
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
}
.btn-sm{
  padding: 3px 10px;
}

.btn-alt{
  background-image: linear-gradient(-180deg, #FBFDFD 0%, #F6F9FA 100%);
  border: 1px solid #DBE6EB;
  border-radius: 2px;
}

$scores: (
  10: #1A6500,
  9: #2D7000,
  8: #437B00,
  7: #5D8600,
  6: #799100,
  5: #919400,
  4: #A79000,
  3: #B27E00,
  2: #BE6800,
  1: #C94F00,
  0: #FF001F,
  'na': $score-na
);
@each $num, $color in $scores{
  .bg-score-#{$num}{
    background-color: $color;
  }
  .text-score-#{$num}{
    color: $color;
  }
}

/* ----- summary ----- */
.school-header{
  background-image: url("../img/header-bg.png");
  background-size: cover;
  color: #fff;
  a{
    color: #fff;
    text-decoration: none;
  }
}

.breakcrumb{
  padding: 10px 0;
  .bc-item{
    color: #fff;
    font-size: 1.2rem;
    &:first-child{
      padding-left: 0;
    }
  }
  .sep{
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.33;
    color: #fff;
    vertical-align: middle;
  }
  span.bc-item{
    color: #9CAAB6;
  }
}

.school-header{
  .school-info{
    padding-bottom: 15px;
    .school-name{
      font-size: 3.6rem;
      padding-top: 60px;
    }
    .detail-info{
      font-size: 1.2rem;
    }
    .statistic{
      padding-top: 40px;

    }
  }
}

.school-header{
  .detail-info{
    > span{
      display: inline-block;
    }
    .loc{
      .icon-location{
        font-size: 1.2em;
      }
      @media screen and (min-width: $screen-md-min){
        margin-right: 30px;
      }
    }

    .phone{
      background-color: rgba(0,0,0, 0.24);
      border-radius: 30px;
      padding: 5px 10px;
    }
    .link-round{
      background-color: rgba(0,0,0, 0.24);
      height: 27px;
      width: 27px;
      line-height: 27px;
      vertical-align: middle;
      text-align: center;
      border-radius: 30px;
    }
    .more-detail{
      margin-left: 30px;
      a{ color: #fff; }
    }
  }
}

.school-header{
  .statistic{
    .score-number{
      @include circle-number($green, 62px, 3.8rem);
    }
    .score{
      &.stat-item{
        text-align: left;
      }
      .lbl{
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
        font-weight: $text-bold;
      }

      .round-icon{
        background: rgba(0,0,0,0.24);
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 0.7em;
      }
    }

    .stars{
      .star-bg{
        color: #fff;
        opacity: 0.4;
      }
      .star-rate{

      }
    }

    .stat-sep{
      width: 1px;
      height: 42px;
      background-color: #fff;
      opacity: 0.2;
      display: inline-block;
      vertical-align: middle;
    }

    .stat-item{
      display: inline-block;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 40px;
      padding-right: 40px;
      vertical-align: middle;
      text-align: center;
      &:first-child{
        padding-left: 0;
      }
      .big{
        font-size: 2.2rem;
        font-weight: $text-bold;
        vertical-align: middle;
        text-transform: uppercase;
      }
      .stat-lbl{
        text-transform: uppercase;
        font-weight: $text-bold;
        color: rgba(255,255,255,0.5);
        font-size: 1.2rem;
        margin-bottom: 2px;
      }
    }

    .stat-stars{
      .stars{
        margin-top: 7px;
      }
    }
  }
}

.round-icon{
  border-radius: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/** start rate **/
.stars{
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  &:after{
    content: "";
    display: block;
    clear: both;
  }
  .star-bg, .star-rate{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    .icon-star{
      display: inline-block;
    }
  }
  .star-bg{
    position: relative;
    color: #fff;
  }
  .star-rate{
    position: absolute;
    top: 0;
    left: 0;
    color: $yellow;
  }
}

/** ---------- SECTIONS ----------- **/
section.sec-colored{
  background-color: #F8FBFB;
  padding: 30px 0;
}
section.sec-white{
  background-color: #fff;
  padding: 30px 0;
}
.section-title{
  font-size: 2.6rem;
  color: $heading-color;
}

/** --------- SCHOOL SUMMARY --------- **/
.school-summary{

  .summary-box{
    margin-top: 70px;
    padding: 30px 10px;
    .col{
      padding-left: 30px;
      padding-right: 30px;

      @media screen and (min-width: $screen-md-min){
        border-right: 1px solid #CAD4DF;
        &:last-child{
          border-right: none;
        }
      }
    }
    .sum-line{
      line-height: 25px;
      color: $primary;
      font-weight: $text-bold;
    }
    .circle-number{
      width: 25px;
      height: 25px;
      line-height: 25px;
      background-color: #5F9622;
      color: #fff;
    }
    .circle-number, .circle-icon{
      margin: 5px 5px 5px 0;
    }
    .circle-icon{
      font-size: 25px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

.sum-section{
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $border-color;
  &.last, &:last-child{
    border-bottom: 0;
  }
  .btn{
    color: $unhighlight;
  }
  .sum-section-header{
    background: $light-background;
    padding: 15px;
    .circle-number{
      @include circle-number($green, 50px, 2.5rem);
    }
    .text{
      margin-left: 15px;
      text-transform: uppercase;
      font-weight: $text-bold;
      font-size: 1.6rem;
      color: #2D7000;
      vertical-align: middle;
    }
    .btn{
      padding: 15px 20px;
    }
  }
}

.sum-section-list{
  .sum-section-item{
    border-bottom: 1px solid #D1DFE5;
    padding: 25px 0 15px 0;
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    .col-heading{
      width: 50%;
      float: left;
    }
    .col-content{
      width: 50%;
      float: left;
    }
    .heading-wrapper{
      width: 60%;
    }
    .title{
      font-weight: $text-bold;
      font-size: 1.6rem;
      color: $dark-gray;
      margin-bottom: 5px;
    }
    .subtitle{
      font-size: 1.2rem;
      color: $unhighlight;
    }

    &:last-child{
      border-bottom: 0;
    }
  }
}

.stat-summary{
  .main-stat{
    font-weight: $text-heavy;
    font-size: 2.6rem;
    color: #000000;
    margin-right: 10px;
  }
  .avg-stat{
    font-weight: 400;
    font-size: 1.2rem;
    color: $unhighlight;
  }
}

.bar-chart{
  position: relative;
  margin-top: 10px;
  .bar-bg{
    display: block;
    height: 8px;
    background-color: #DBE6EB;
  }
  .bar-fg{
    display: block;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .bar-avg{
    display: inline-block;
    position: absolute;
    bottom: 10px;
    width: 16px;
    height: 10px;
    margin-left: -8px;
    border-top: 10px solid #b2b2b2;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;;
    border-bottom: 0;
  }
}

.people-chart{
  position: relative;
  display: inline-block;
  font-size: 4.5rem;
  margin-top: 10px;
  .chart-bg, .chart-fg{
    white-space: nowrap;
    span{
      display: inline-block;
      padding: 0 3px;
    }
  }
  .chart-bg{
    color: #DBE6EB;
  }
  .chart-fg{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .bar-avg{
    display: inline-block;
    position: absolute;
    top: -5px;
    width: 16px;
    height: 10px;
    margin-left: -8px;
    border-top: 10px solid #b2b2b2;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;;
    border-bottom: 0;
  }
}

.summary-box{
  background: #F6F9FA;
  border: 1px solid #DBE6EB;
  border-radius: 1px;
  padding: 30px;
}

.sum-section-title{
  font-size: 2rem;
  color: $dark-primary; // #1C252E;
  font-family: $font-body;
  text-transform: uppercase;
  margin-top: 0;
}
.sum-section-subtitle{
  font-size: 1.2rem;
  color: $unhighlight;
}

.sum-tags{
  text-align: center;
  .tags-list{
    display: inline-block;
  }
  .tag{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    line-height: 22px;
    font-size: 1.3rem;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    display: inline-block;
    .text{
      margin: 0 5px;
      font-weight: $text-bold;
      font-size: 1.3rem;
      color: #28292A;
    }
    .sub{
      font-weight: $text-bold;
      color: #A7A7A7;
    }
  }
}

/** --------- REVIEW ---------- **/
.reviews-list{
  .review-item{
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    .col-author, .col-content{
      float: left;
    }
    .col-author{
      width: 30%;
      padding-right: 15px;
      .author-wrap{
        max-width: 160px;
        display: inline-block;
        text-align: center;
      }
      .avatar{
        width: 65px;
        height: 65px;
        border-radius: 40px;
        display: inline-block;
        margin-bottom: 10px;
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      .author{
        font-size: 1.2rem;
        color: #28292A;
      }
    }
    .col-content{
      width: 70%;
      padding-left: 15px;
      .review-title{
        font-weight: $text-heavy;
        font-size: 1.6rem;
        color: $gray;
        margin-bottom: 10px;
      }
      .review-content{
        color: $dark-gray;
        line-height: 1.5em;
      }
      .review-bot{
        .date{
          color: #A7A7A7;
          vertical-align: middle;
          line-height: 40px;
        }
      }
    }
  }
}