
/* ----- header ------ */
header{
  padding: $default-padding 0;
}

.header-search{
  #logo{
    @media screen and (min-width: $screen-md-min){
      float: left;
    }
  }
  &.header-desktop{
    float: right;
  }

  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

.search-box{
  display: inline-block;
  vertical-align: middle;

  > div{
    display: inline-block;
    height: 50px;
    vertical-align: top;
  }
  .cat{
    background-image: linear-gradient(-180deg, #FFFFFF 50%, #F3F9FA 100%);
    padding: $default-padding $default-padding*3 $default-padding $default-padding;
    position: relative;
    border: 1px solid #C1D2D9;
    border-radius: 2px 0 0 2px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: $text-bold;
    [class*="icon-"]{
      position: absolute;
      right: 15px;
      top: $default-padding;
      line-height: 2rem;
    }
  }
  .inp{
    border-top: 1px solid #C1D2D9;
    border-bottom: 1px solid #C1D2D9;
    min-width: 300px;

    input{
      display: block;
      width: 100%;
      height: 100%;
      padding: $default-padding;
      border: none;
    }
  }
  .submit{
    background-color: $primary;
    color: #fff;
    padding: $default-padding 20px;
    border-radius: 2px;
  }

}

.header-nav{
  font-size: 1.2rem;
  line-height: 2rem;
  color: $dark-primary;
  display: inline-block;
  ul{
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    li{
      display: inline-block;
      padding-left: $default-padding;
      padding-right: $default-padding;
      border-right: 1px solid #D1DFE5;
      &:last-child{
        border-right: transparent;
        padding-right: 0;
      }
      &.user a{
        color: #697841;
      }
      a{
        display: block;
        color: $dark-primary;
        font-weight: $text-bold;
        text-decoration: none;
      }
    }
  }
}

.unhl{
  color: $unhighlight;
}

.header-trending-topic{
  font-size: 1.2rem;
  margin-top: $default-padding;
  padding-left: 15px;
  .labl{
    margin-right: 20px;
  }
  .topic-item{
    margin-left: $default-padding;
    margin-right: $default-padding;
  }
}


.header-desktop{
  @media screen and (max-width: $screen-sm-max){
    display: none;
  }
}

.mobile-header{
  display: none;
}

.hamburger-menu{
  width: 20px;
  height: 15px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 40px;
  span{
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #4E575E;
    position: absolute;
    left: 0;
  }
  .top{
    top: 0;
  }
  .middle{
    top: 50%;
    margin-top: -1.5px;
  }
  .bottom{
    bottom: 0;
  }
}

@media screen and (max-width: $screen-sm-max){
  header{
    height: 60px;
    padding: 10px 0;
  }

  .main-header{
    text-align: center;
    height: 40px;
    position: relative;
    #logo{
      display: inline-block;
      padding-left: 40px;
      padding-right: 40px;
      height: 100%;
      img{
        height: 100%;
      }
    }
  }

  .mobile-header{
    display: block;
    color: #4E575E;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    a { color: #4E575E; }
    .mobile-search{
      float: right;
      font-size: 2rem;
      line-height: 40px;
      vertical-align: middle;
    }
    .mobile-menu{
      float: left;
      height: 40px;
      line-height: 40px;
    }
  }

  .breakcrumb{
    position: relative;
    &:after{ 
      content: "";
      display: block;
      width: 60px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      // background: -webkit-linear-gradient(left, transparent , #0C3D5F); /* For Safari 5.1 to 6.0 */
      // background: -o-linear-gradient(right, transparent, #0C3D5F); /* For Opera 11.1 to 12.0 */
      // background: -moz-linear-gradient(right, transparent, #0C3D5F); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, transparent 0% , #0C3D5F 70%, #0C3D5F 100%); /* Standard syntax */
    }
    .container{
      white-space: nowrap;
      overflow: hidden;
    }
  }
}