@mixin circle-number($background, $size, $font-size){
  display: inline-block;
  color: #fff;
  font-weight: $text-bold;
  text-align: center;
  background-color: $background;
  vertical-align: middle;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size;
  font-size: $font-size;
}

@mixin border-radius( $size ){

}

@mixin bb($dep,$color){
  border-bottom: $dep solid $color;
}
@mixin bt($dep,$color){
  border-top: $dep solid $color;
}
@mixin br($dep,$color){
  border-right: $dep solid $color;
}
@mixin bl($dep,$color){
  border-left: $dep solid $color;
}