/** ----- colors ----- ***/
$dark-primary: #032532;
$primary: #0E81C7;
$unhighlight: #888889;
$green: #48932D;
$yellow: #FFC800;
$heading-color: #083B50;

/* ----- font ----- */
$text-bold: 600;
$font-heading: "Caecilia", serif;

/** ----- spacing ------ */
$default-padding: 15px;